article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  padding-top: 30px; }

.topNav ul {
  padding-top: 60px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-bottom: 55px; }
  .topNav ul a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 0 25px; }
    .topNav ul a:hover {
      color: #985957;
      text-decoration: underline; }

.hero {
  background: url("/assests/evan-clark-114123-unsplash.jpg");
  background-size: cover;
  text-align: center;
  background-position: bottom; }
  .hero img {
    padding-top: 220px; }
  .hero h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 86px; }
  .hero .subheading {
    padding-bottom: 260px;
    color: white;
    font-family: "Playfair Display", cursive;
    font-weight: 300;
    font-style: italic;
    margin: 0px; }

h2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 55px;
  text-transform: uppercase; }

main {
  background: #fcfcfc; }

.threeBlocks {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 140px; }
  .threeBlocks h3 {
    font-size: 14px;
    margin: 0;
    padding-top: 29px;
    position: relative; }
    .threeBlocks h3:after {
      content: '';
      display: block;
      background: black;
      height: 1px;
      width: 40px;
      position: absolute;
      left: 50%;
      bottom: -50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .threeBlocks p {
    font-size: 12px;
    line-height: 28px;
    padding-top: 60px; }

.team {
  padding-bottom: 110px;
  background: #fcfcfc;
  padding-top: 136px;
  border-top: 1px solid #f2f2f2; }

.teamBlurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .teamBlurb p {
    font-family: "Playfair Display", cursive;
    font-style: italic;
    font-size: 18px;
    line-height: 40px;
    margin: 0;
    font-weight: 300; }

.teamPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  margin-top: 136px; }

.teamMember {
  position: relative; }
  .teamMember h4, .teamMember h5 {
    text-align: center;
    margin: 0; }
  .teamMember h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding-top: 42px; }
  .teamMember h5 {
    font-family: "Playfair Display", cursive;
    font-style: italic;
    font-size: 13px;
    font-weight: 300; }

.overlay {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0; }
  .overlay a:hover {
    color: #985957; }

.photo img {
  max-width: 370px;
  width: 100%; }

.photo:hover img {
  opacity: 0.5;
  cursor: pointer; }

.photo:hover .overlay {
  opacity: 1; }

.overlay ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 115px;
  width: 100%;
  margin: 0 auto; }
  .overlay ul li {
    max-width: 30px;
    width: 100%;
    text-align: center;
    padding: 0 10px; }
  .overlay ul a {
    color: black;
    font-size: 18px; }

.quoteBox img {
  display: inline-block;
  float: left;
  padding-right: 52px; }

.testimonial {
  background: rgba(51, 51, 51, 0.7);
  font-family: "Playfair Display", cursive;
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-top: 121px;
  line-height: 39.6px; }
  .testimonial span {
    float: right;
    padding-bottom: 95px;
    position: relative; }

.serviceBlurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 136px;
  margin-bottom: 136px; }
  .serviceBlurb p {
    font-family: "Playfair Display", cursive;
    font-style: italic;
    font-size: 18px;
    line-height: 39.6px; }

.servicePhoto {
  width: 50%; }
  .servicePhoto img {
    max-width: 570px;
    width: 100%; }

.serviceDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.serviceMenu {
  width: 50%; }

.services {
  background: #fcfcfc;
  padding-bottom: 134px; }
  .services label {
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    padding: 10px 0; }
  .services input {
    display: none; }

#blurb {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  padding: 0 20px;
  line-height: 28px; }

.hide {
  display: none; }

#show {
  display: block; }

footer {
  background: #f4f4f4; }

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  text-transform: uppercase; }

.footerBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 356px;
  padding-top: 86px; }

.footerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 42px; }
  .footerAbout p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 28.6px; }

.readMore {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 30px;
  margin-bottom: 200px; }
  .readMore .fa-chevron-circle-right {
    font-size: 12px;
    margin-right: 14px; }
  .readMore a {
    text-decoration: none;
    color: #985957;
    font-size: 10px;
    text-transform: uppercase; }

.instagramGrid img {
  max-width: 100px; }

.instagram a {
  font-family: "Playfair Display", cursive;
  color: #985957;
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  padding-top: 12px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 356px; }

input {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding: 15px 0 15px 15px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5; }

textarea {
  resize: none;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5; }

button {
  max-width: 170px;
  width: 100%;
  background: #985957;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  padding: 18px 0;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  button:hover, button:focus {
    background: #af7573; }

.copyright {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding-bottom: 24px; }
  .copyright p {
    margin: 0; }

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }
